article {
    padding: 20px;
}
#article-head img {
    float: right;
    width: 350px;
}
#aside {
    float: right;
    margin: 10px 0 0 30px;
}
.asideContainer {
    text-align: center;
    font-size: 12px;
    border: 1px solid;
    border-radius: 10%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}