/* GENERAL STYLES */
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.page-navigation, .main-section, .footer div {
    margin: 0 auto;
	max-width: 960px;
}

/* HEADER */
.header, .footer {
    background-image: url("../images/background.jpg");
}
.header img {
    margin: auto 0;
}
.header h1 {
    font-family: 'Underdog', cursive;
    font-size: 50px;
    color: #bfff00;
    text-shadow: 0 0 15px red;
}

/* NAVIGATION */
.page-navigation {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.page-navigation a {
    text-decoration: none; 
    color: white;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    padding: 20px;
    background: linear-gradient(#004d00, white);
}
.page-navigation a:hover {
    color: red;
}

/* MAIN */
.main-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* FOOTER */
.footer div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.footer div a {
    text-decoration: none;
    font-size: larger;
    color: #bfff00;
    text-shadow: 2px 2px 1px black;
}
.footer div p {
    color: white;
}