/* GENERAL STYLES */
body {
    max-width: 1024px;
    margin: 0 auto;
    background: url("../images/background-body.jpg");
}
.container {
    margin: 0 auto;
	max-width: 900px;
}
.header {
    background-image: url("../images/sniper.jpg");
    height: 400px;
}
.footer {
    background-image: url("../images/background-footer.png");
}

/* HEADER */
#logo, #page-navigation {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
/*    position: relative;*/
}
#logo img {
    margin: auto 0;
}
#logo h1 {
    font-family: 'Underdog', cursive;
    font-size: 50px;
    color: #bfff00;
    text-shadow: 0 0 15px red;
}
#page-navigation a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 20px;
    /*margin: 130px 10px 10px;*/
    width: 170px;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
}

#page-navigation a:hover {
    color: #bfff00;
    box-shadow: 0 0 25px #bfff00, 0 0 5px red;
    /*border-color: red;*/
}

/* MAIN */
main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
#opacity {
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.8;
    z-index: -1;
    position: absolute;
}
.main-section article {
    padding: 20px;
}
article h2 {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px darkgreen;
    /*text-shadow: 1px 1px 2px black, 0 0 25px #bfff00, 0 0 5px red;*/
}

/* FOOTER */
.footer div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.footer div a {
    text-decoration: none;
    font-size: larger;
    color: #bfff00;
    text-shadow: 2px 2px 1px black;
    margin-top: 10px;
}
.footer div p {
    color: white;
}