/* GENERAL STYLES */
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
/*.page-navigation, .main-section, .footer {*/
/*    margin: 0 auto;*/
/*	width: 960px;*/
/*}*/

/* HEADER */
.header {
    background-image: url("../images/background.jpg");
}
.header img {
    margin: auto 0;
}
.header h1 {
    font-family: 'Underdog', cursive;
    font-size: 50px;
    color: #bfff00;
    text-shadow: 0 0 15px red;
}

/* NAVIGATION */
.page-navigation {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.page-navigation a {
    text-decoration: none; 
    color: white;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    padding: 20px;
    background: linear-gradient(#004d00, white);
}
.page-navigation a:hover {
    background-color: #004d00;
}